.wrap {
  background-color: #4d30bb;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.text {
  color: #ffffff;
}

.logoutBtn {
  background-color: cadetblue !important;
}
